<div class = "account-page">
  <%= form_for(current_user) do |f| %>
 
    <div class = "account-page__inner--icon">
      <% if @image.present? %>
        <%= image_tag "#{@image.url}",  class: 'account-page__inner--icon__image', width: '100%' %>
      <% else %>
        <%= image_tag "no_image.png",  class: 'account-page__inner--icon__image', width: '100%' %>
      <% end %>
    </div>
    
    <div class = "account-page__edit">
      <div class = "account-page__edit__username">
        <%= f.label :username %>
        <%= f.text_field :username, :placeholder => "#{@username}"%>
      </div>
      
      <div class = "account-page__edit__profile">
        <%= f.label :profile %>
        <%= f.text_area :profile %>      
      </div>
      
      <div class = "account-page__edit__file">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>
      
      <div class = "account-page__edit__update">
        <%= f.submit "update" %>
      </div>
    </div>  
  <% end %>
</div>

