<div class = "show-page">
  <div class = "show-page__inner--icon">
       <% if @image.present? %>
        <%= image_tag "#{@image.url}",  class: 'show-page__inner--icon__input__image', width: '100%' %>
      <% else %>
        <%= image_tag "no_image.png",  class: 'show-page__inner--icon__input__image', width: '100%' %>
      <% end %>
    </div>
    <div class = "show-page__inner--icon__profileall">
      <div class = "show-page__inner--icon__profileall__username">
        <% text = "#{@username}" %>
        <%= simple_format text %>
      </div>
      <div class = "show-page__inner--icon__profileall__profile">
        <% profile = "#{@profile}" %>
        <%= simple_format profile %>
        
      <% if current_user.id == @id %>  
        <div class = "show-page__buttons">
          <div class = "show-page__buttons__item">
            <%= link_to user_path(@id), :method => :delete do %>
              <i class="fa fa-trash-alt"></i>
            <% end %>
          </div>
          <div class = "show-page__buttons__item">
            <%= link_to edit_user_path(@id), :method => :get do %>
              <i class="fa fa-edit"></i>
            <% end %>          
          </div>
        </div>
      <% end %>  
      </div>
    </div>
</div>
<div class = "log">
    <% @articles.each do |article| %>
      <%= render partial: "articles/list", locals: { article: article } %>
    <% end %>  
</div>