<div class = "show-page">
  <div class = "show-page__inner--icon">
    <div class = "show-page__inner--icon__label">
      <div class = "show-page__inner--icon__input">
        <div class = "show-page__inner--icon__input__image">
          <% if @image.present? %>
            <%= image_tag "#{@image.url}",  class: 'show-page__inner--icon__input__image', width: '100%' %>
          <% else %>
            <%= image_tag "no_image.png",  class: 'show-page__inner--icon__input__image', width: '100%' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class = "show-page__inner--icon__profileall">
      <div class = "show-page__inner--icon__profileall__username">
        <% text = "#{@username}" %>
        <%= simple_format text %>
      </div>
      <div class = "show-page__inner--icon__profileall__profile">
        <% profile = "#{@profile}" %>
        <%= simple_format profile %>
        <div class = "show-page__buttons">
          <div class = "show-page__buttons__item"><%= link_to "edit", edit_user_path, class: "link" %></div>
          <div class = "show-page__buttons__item"><%= link_to "delete user", "/users/#{@user.id}", method: :delete, class: "link" %></div>
        </div>
      </div>
    </div>
  
</div>