<% if @user.id == current_user.id %>
  <p><%= current_user.username %>さんのマイページ</p>
  <%= link_to "ユーザーの削除", "/users/#{current_user.id}", method: :delete %><br/>
<% else %>  
  <p><%= @user.username %>さん</p>
<% end %>  

<% if @user.image? %>
    <%= image_tag @user.image.url %>
<% else %>
    <%= image_tag 'no_image.png' %>
<% end %>

<% @articles.each do |article| %>
  <%= article.title %>
  <div class = "container-item--border">
     <%= article.text %>
  </div>
<% end %>  