<!DOCTYPE html>
<html>
  <head>
    <title>Miniblo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="style.scss">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="menu-list">
       <ul>
         <li><%= link_to "Miniblo", root_path%></li>
         <% if user_signed_in? %>
           <li><%= link_to "post",  new_article_path%></li>
           <li><%= link_to "mypage"%> </li>
           <li><%= link_to "user_view"%> </li>
           <li><%= link_to "sign_out",destroy_user_session_path, method: :delete %> </li>
         <% else %>   
           <li><%= link_to "sign_up", new_user_registration_path %></li>
           <li><%= link_to "login", new_user_session_path %></li>
         <% end %>
       </ul>
    </div>
    <div class="main"> 
      <%= yield %>
    </div>
  </body>
</html>
