<!DOCTYPE html>
<html>
  <head>
    <title>OURposts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="style.scss">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 

  <body>
    <div class="menu-list">
       <ul>
         <li><%= link_to "OURposts", root_path, class: "menu-list__title"%></li>
         <% if user_signed_in? %>
           <li><%= link_to "post",  new_article_path%></li>
           <li><%= link_to "#{current_user.username}さん",user_path(current_user), method: :get %> </li>
           <li><%= link_to "sign_out",destroy_user_session_path, method: :delete %> </li>
         <% else %>   
           <li><%= link_to "sign_up", new_user_registration_path %></li>
           <li><%= link_to "login", new_user_session_path %></li>
         <% end %>
       </ul>
    </div>
    <div class="main"> 
      <%= yield %>
    </div>
  </body>
</html>
